  var data = {{{ data }}}

  
  //sort our data by fitted or the assigned group
  data = data.sort(function(a,b){
    return d3.ascending(a["(fitted)"],b["(fitted)"])
  });
  

  var colorgen = d3.scale.category10();
  var colors = {};
  data.map(function(d,i){
    colors[d["(fitted)"]] = colorgen(d["(fitted)"])
  });
  var color = function(d) { return colors[d["(fitted)"]]; };
    

  var parcoords = d3.parcoords()("#par_container")
      .color(color)
      .alpha(0.4)
      .data(data)
      //.bundlingStrength(0.8) // set bundling strength
      //.smoothness(0.15)
    	//.bundleDimension("rtn_rank")
    	.showControlPoints(false)
      .margin({ top: 100, left: 150, bottom: 12, right: 20 })
      .render()
      .brushable()  // enable brushing
      .reorderable()
      .interactive()  // command line mode
      
  //remove rownames (first) label for axis
  d3.select(".dimension .axis > text").remove();

  //highlight paths on hover of rownames / label
  d3.selectAll("#par_container > svg > g > g:nth-child(1) > g.axis > g > text")
    .on("mouseover", highlight )
    .on("mouseout", unhighlight )
    .style("fill",function(d){
      return colors[d];
    })

  function highlight(e){
    var that = this;
    
    var tohighlight = data.filter(function(row){
        return row["$row"] == d3.select(that).datum();
      });
      
    parcoords.highlight(
      tohighlight
    );
  }
  
  function unhighlight(e){
    var that = this;
    parcoords.unhighlight(
      data.filter(function(row){
        return row["$row"] == d3.select(that).datum();
      })
    );
  }
  
  
  // add interactivity for the node information to query / brush the parcoords
  // we classed these as querynode
  // however ignore root by doing nth-child(n+2)
  d3.selectAll("#partykit_info > .querynode:nth-child(n+2) ")
    .style("cursor","pointer")
    .on("click",queryNode)
    .each(function(d){
      var that = d3.select(this);
      that.datum(getQuery( that ).split(/[<,>,=]/)[0].replace(/\s/g,""));
      return that;
    })
    
  function queryNode(){
  
    var node = d3.select(this)
    
    var queried = !node.classed("queried")
    
    // get the query
    var q = getQuery(node);
    
    if(queried){
      // to eliminate extra css do the bolding here
      // eventually though move to css style file
  
      drawBrush( q );

      node
          .style("font-size","125%")
          .style("font-weight","bold")        
          .classed("queried",queried)
      
    } else {
      // clear the query
      
      node
          .style("font-size","")
          .style("font-weight","")
          .classed("queried",queried)          
          
      clearBrush( q )
    }
  }
  
  // function to strip the query out of the text
  function getQuery( s ){

    // for now text will be the text contained in the span
    // we'll use some regex to strip out the query
    var q = s.text().replace(/\|/g,"").split(/[\],:]/)[1]
    
    return q;
  }
  
  function drawBrush( q ){
  
    // our variable will be before <,>,=
    var queryVar = q.split(/[<,>,=]/)[0].replace(/\s/g,"");
    
    // if brush already defined on this variable then remove it
    //  actually just remove the queried class and style
    //  new brush will supersede old brushed points
    // not ideal behavior but joint brushes will get very complex
    d3.selectAll("#partykit_info > .querynode:nth-child(n+2) ").filter(function(d){
      return d == queryVar
    }).style("font-size","")
      .style("font-weight","")
      .classed("queried",false)
      
    
    var queryBrush = parcoords.yscale[queryVar].brush
        .on("brushstart", function() {});

    // define our brush extent to be from the split up or down to top of axis
    // if we find a < then draw down so extent min will be bottom of axis
    // and extent max will be our condition
    if(q.match(/</)){
      queryBrush.extent([ 
        parcoords.yscale[queryVar].domain()[0] ,
        q.split(/[<,>,=,:]/).slice(+q.split(/[<,>,=,:]/).length-1)[0].replace(/\s/g,"")
      ])
    } else {
      queryBrush.extent([
        q.split(/[<,>,=,:]/).slice(+q.split(/[<,>,=,:]/).length-1)[0].replace(/\s/g,""),
        parcoords.yscale[queryVar].domain()[1] 
      ])
    }
    

    // now draw the brush to match our extent
    // use transition to slow it down so we can see what is happening
    // remove transition so just d3.select(".brush") to just draw
    queryBrush(d3.selectAll(".brush").filter(function(b){return b == queryVar}).transition());

    // now fire the brushstart, brushmove, and brushend events
    // remove transition so just d3.select(".brush") to just draw
    queryBrush.event(d3.selectAll(".brush").filter(function(b){return b == queryVar}).transition())
  }
  
  function clearBrush( q ){
  
    // our variable will be before <,>,=
    var queryVar = q.split(/[<,>,=]/)[0].replace(/\s/g,"");
    
    var queryBrush = parcoords.yscale[queryVar].brush
        
    queryBrush.extent([parcoords.yscale[queryVar].domain()[1],parcoords.yscale[queryVar].domain()[1]])
    
    // now draw the brush to match our extent
    // use transition to slow it down so we can see what is happening
    // remove transition so just d3.select(".brush") to just draw
    queryBrush(d3.selectAll(".brush").filter(function(b){return b == queryVar}).transition());
    
    
    // now fire the brushstart, brushmove, and brushend events
    // remove transition so just d3.select(".brush") to just draw
    queryBrush.event(d3.selectAll(".brush").filter(function(b){return b == queryVar}).transition())
    
  }
