  var data = {{{ data }}}

  
  //sort our data by fitted or the assigned group
  data = data.sort(function(a,b){
    return d3.ascending(a["(fitted)"],b["(fitted)"])
  });
  

  var colorgen = d3.scale.category10();
  var colors = {};
  data.map(function(d,i){
    colors[d["(fitted)"]] = colorgen(d["(fitted)"])
  });
  var color = function(d) { return colors[d["(fitted)"]]; };
    

  var parcoords = d3.parcoords()("#par_container")
      .color(color)
      .alpha(0.4)
      .data(data)
      //.bundlingStrength(0.8) // set bundling strength
      //.smoothness(0.15)
    	//.bundleDimension("rtn_rank")
    	.showControlPoints(false)
      .margin({ top: 100, left: 150, bottom: 12, right: 20 })
      .render()
      .brushable()  // enable brushing
      .reorderable()
      .interactive()  // command line mode
      
  //remove rownames (first) label for axis
  d3.select(".dimension .axis > text").remove();

  //highlight paths on hover of rownames / label
  d3.selectAll("#par_container > svg > g > g:nth-child(1) > g.axis > g > text")
    .on("mouseover", highlight )
    .on("mouseout", unhighlight )
    .style("fill",function(d){
      return colors[d];
    })

  function highlight(e){
    var that = this;
    
    var tohighlight = data.filter(function(row){
        return row["$row"] == d3.select(that).datum();
      });
      
    parcoords.highlight(
      tohighlight
    );
  }
  
  function unhighlight(e){
    var that = this;
    parcoords.unhighlight(
      data.filter(function(row){
        return row["$row"] == d3.select(that).datum();
      })
    );
  }